@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons";

:root {
 
  --darkColor: #2e8b57;
  --bgColor: #fa9e46;
  --blackColor: #000000b9;
  --blackColor1:rgba(0, 0, 0, 0.993)9;
  --whiteColor: #ffffff;
  --lightColor: #fa9e46;
  --dimWhite:#ebeaea;
}

* {
  font-family: poppins;
}

html {
}

body {
  background-color: var(--darkColor);
  scrollbar-color: var(--darkColor);
  scroll-behavior: smooth;
}

/* general back button*/
.back-btn {
  color: var(--whiteColor);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
  text-align: center;
  margin-top: 75px;
  padding: 6px 5px;
  margin-left: 60px;
  text-transform: uppercase;
  background-color: var(--blackColor);
 
  border: 2px solid var(--whiteColor);
}

.back-btn:hover {
  color: var(--whiteColor);
  background-color: var(--blackColor);
  opacity: .4;
}
@media (max-width: 768px) {
  .back-btn {
    width: 30px;
    height: 30px;
    padding: 3px 2px;
    margin-top: 75px;
    margin-left: 10px;
  }
}

/*--------------------------------------------------------------
# Not-found Section resultPage
--------------------------------------------------------------*/

.not-found {
  background: var(--darkColor);
}

.not-found img {
  height: 250px;
  width: 500px;
  border-radius: 10px;
}
.not-found h1 {
  margin: 20px 0 10px 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: var(--bgColor);
}
.not-found .not-divide {
  background: var(--bgColor);
  height: 1px;
}
.not-found h3 {
  color: var(--bgColor);
  padding-top: 10px;
  font-size: 30px;
}
.not-found a {
  text-decoration: underline;
  color: var(--bgColor);
  border: 1px solid var(--bgColor);
  padding: 5px;
  border-radius: 5px;
}
.not-found p {
  color: var(--bgColor);
  font-style: italic;
  padding-top: 20px;
  font-size: 25px;
}

@media (max-width: 768px) {
  .not-found h1 {
    font-size: 25px;
    line-height: 40px;
  }
  .not-found p {
    font-size: 20px;
  }
  .not-found img {
    height: 200px;
    width: 300px;
    border-radius: 10px;
  }
}

/*--------------------------------------------------------------
  # Navbar Section
  --------------------------------------------------------------*/
  .navbar {
    padding: 0;
    background: var(--darkColor);
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: end;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Popins";
    font-size: 18px;
    font-weight: 700;
    color: var(--whiteColor);
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover > a {
    color: var(--whiteColor);
  }
  
/*--------------------------------------------------------------
# MainPage Section
--------------------------------------------------------------*/
.mainPage {
  background: radial-gradient(var(--darkColor), var(--dimWhite)),
    url("/images/cominiti.jpg") fixed center top;
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: hidden;
}

.mainPage h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color: var(--whiteColor);
}

.mainPage h2 {
  color: var(--whiteColor);
  margin: 15px 0 0 0;
  font-size: 26px;
}

.mainPage .btn-get-started {
  margin-top: 30px;
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  
  color: var(--dimWhite);
  background: var(--darkColor);
  box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
}

.mainPage .btn-get-started span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 2px;
}

.mainPage .btn-get-started i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.mainPage .btn-get-started:hover {
  transform: translateX(5px);
  opacity: 0.6;
}

.mainPage img {
  border-top-right-radius: 20px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.mainPage .hero-img {
  text-align: right;
}

@media (min-width: 1024px) {
  .mainPage {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  .mainPage {
    height: auto;
    padding: 120px 0 60px 0;
  }
  .mainPage img {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .mainPage .hero-img {
    text-align: center;
    margin-top: 80px;
  }

  .mainPage .hero-img img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .hero {
    text-align: center;
  }

  .hero h1 {
    font-size: 32px;
  }

  .hero h2 {
    font-size: 24px;
  }

  .hero .hero-img img {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about {
  background: var(--darkColor);
}
.about img {
  height: 350px;
  width: 100%;
  border-radius: 20px;
}

.about .content h3 {
  color: var(--blackColor);
  font-weight: 500;
  line-height: 32px;
  font-size: 24px;
}
.about .content h5 {
  color: var(--blackColor);
  font-weight: 500;
  line-height: 32px;
}

.about .btn-about {
  margin-top: 30px;
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  text-decoration: none;
  color: var(--dimWhite);
  background: var(--darkColor);
  box-shadow: 0px 5px 30px rgba(249, 249, 249, 0.4);
}

.about .btn-about span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 2px;
}

.about .btn-about i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.about .btn-about:hover i {
  transform: translateX(5px);
}

@media (max-width: 768px) {
  .about .content h2 {
    font-size: 20px;
  }
}


/*--------------------------------------------------------------
  # Siwes card List
  --------------------------------------------------------------*/
  .cardList {
    background: var(--darkColor);
  }
  .cardList .section-title h2 {
    padding-top: 20px;
    font-size: 40px;
    color: var(--dimWhite);
  }
  .cardList .section-title p {
    font-size: 20px;
    color: var(--dimWhite);
  }
  
  
  
  .cardList .row .stateBody {
    overflow: hidden;
    background: var(--blackColor1);
    height: 10vh;
    border: 1px solid var(--whiteColor);
    transition: all 0.3s ease-in-out;
    z-index: 1;
  }
  .cardList .row .stateBody:hover {
    transform: translateY(-2px);
    opacity: .6;
  }
  
  .cardList .row .stateBody a {
    color: var(--dimWhite);
    font-size: 20px;
  }
  
  @media (max-width: 768px) {
    .cardList .section-title h2 {
      font-size: 25px;
    }
    .cardList .section-title p {
      font-size: 18px;
    }
  }

/*--------------------------------------------------------------
# All Students Card Form Section
--------------------------------------------------------------*/
.allStudentsCard {
  background: linear-gradient(var(--testColor), var(--softColor));
}

.allStudentsCard .section-title h2 {
  font-size: 45px;
  line-height: 30px;
  font-weight: 700;
  color: var(--dimWhite);
  text-transform: uppercase;
}
.allStudentsCard .card {
  width: 100%;
  height: 65vh;
  cursor: pointer;
  box-shadow: 0px 0 30px rgba(38, 43, 48, 0.288);
  border: 0;
  background: linear-gradient(var(--testColor), var(--softColor));
}

.allStudentsCard .card img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}
.allStudentsCard .card .bText {
  padding: 10px;
}

.allStudentsCard .card .bText p {
  color: var(--testColor);
  font-size: 10px;
}
.allStudentsCard .card .bText p strong {
  color: var(--testColor);
  font-size: 10px;
}

.allStudentsCard .card .bText small {
  font-size: 8px;
}
.allStudentsCard .card .bText small:hover {
  color: var(--testColor);
}

@media (max-width: 768px) {
  .allStudentsCard .card {
    width: 100%;
    height: 40vh;
  }
  .allStudentsCard .card img {
    width: 100%;
    height: 22vh;
    object-fit: cover;
  }
  .allStudentsCard .section-title h2 {
    font-size: 18px;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  padding: 0 0 30px 0;
  background: var(--whiteColor);
  border: 1px solid var(--darkColor);
}

.footer .card {
  background: transparent;
  border-radius: 10px;
  padding-top: 10px;
}
.footer .card .scroll-back {
  background: var(--whiteColor);
  border-radius: 50px;
  margin-right: 50px;
 
}
.footer .card .scroll-back i {
  font-size: 25px;
  color: var(--blackColor);
}

.footer .card .copyright {
  text-align: center;
  padding-top: 30px;
  color: var(--darkColor);
}

.footer .card .copyright span {
  color: var(--darkColor);
}
.footer .card .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: var(--darkColor);
}

@media (max-width: 768px) {
  .footer .footer-top .footer-info .logo span {
    font-size: 15px;
  }
  .footer .card {
    background: transparent;
    border-radius: 15px;
  }
  .footer .card .scroll-back {
    margin-right: 10px;
  }
}
